.cell {
    border: 1px solid #adb1e9;
    box-sizing: border-box;
    /* margin: 1px; */
}

.wall {
    background-color: black;
    /*animation-name: wallAnimation;*/
    /*!*background-color: #1269db;*!*/
    /*animation-duration: 0.5s;*/
    /*animation-iteration-count: 10;*/
    /*animation-fill-mode: forwards;*/
}

.start {
    background-color: red;
}

.end {
    background-color: #19c43c;
}

.path {
    animation-name: pathAnimation;
    /*background-color: #1269db;*/
    animation-duration: 0.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /*background-color: yellow;*/
}

.visited{
    animation-name: visitedAnimation;
    /*background-color: #1269db;*/
    animation-duration: 0.75s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    /*background-color: #9323ff;*/
}


@keyframes wallAnimation {
    0% {
        transform: scale(0.3);
        background-color: gray;
        border-radius: 100%;
    }

    50% {
        background-color: darkslategrey;
    }

    75% {
        transform: scale(1.2);
        background-color: black;
    }

    100% {
        transform: scale(1);
        background-color: black;
    }
}

@keyframes pathAnimation {
    0% {
        transform: scale(0.3);
        background-color: lightgoldenrodyellow;
        border-radius: 100%;
    }

    50% {
        background-color: greenyellow;
    }

    75% {
        transform: scale(1.2);
        background-color: yellow;
    }

    100% {
        transform: scale(1);
        background-color: yellow;
    }
}

@keyframes visitedAnimation {
    0% {
        transform: scale(0.3);
        background-color: #60faee;
        border-radius: 100%;
    }

    50% {
        background-color: #52ff95;
    }

    75% {
        transform: scale(1.2);
        background-color: #9323ff;
    }

    100% {
        transform: scale(1);
        background-color: #c10fff;
    }
}